
@{
    ViewBag.Title = "Index";
}

<h2>Morso D'Italia - Sitio de Administración</h2>

<div>
    <img src="~/Imagenes/Portada.jpg" alt="MorsoDItalia" style="width: 100%; max-width: 600px;" />    
</div>